<link rel="stylesheet" href="css/city.css">

<div id="city-view" class="full-height" ng-controller="city_controller">
	<div class="row full-height no-header text-center">
		<div class="full-height col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<a href="#/"><img src="/img/searcheat_horizontal.png" class="img-responsive center-block" style="width: 200px; margin-top: 10px;"/></a>
				</div>
				<div class="col-xs-12">
					<div id="city-name">
						<h1 ng-cloak>FOODTRUCKS EM <strong>{{ city.name }}</strong></h1>
					</div>
				</div>
			</div>
			<div class="row full-height">
				<!-- map -->
				<div class="col-xs-8 full-height">
					<div id="legend">
						<div class="row vertical-align text-left">
							<div class="col-xs-3">
								<img src="img/markers/marker-event.png"/>
							</div>
							<div class="col-xs-6 col-xs-offset-1">
								<strong>Evento</strong>
							</div>
						</div>
						<div class="row vertical-align text-left">
							<div class="col-xs-3">
								<img src="img/markers/marker-online.png"/>
							</div>
							<div class="col-xs-6 col-xs-offset-1">
								<strong>Aberto</strong>
							</div>
						</div>
						<div class="row vertical-align text-left">
							<div class="col-xs-3">
								<img src="img/markers/marker-offline.png"/>
							</div>
							<div class="col-xs-6 col-xs-offset-1">
								<strong>Fechado</strong>
							</div>
						</div>
						<div class="row vertical-align text-left">
							<div class="col-xs-3">
								<img src="img/markers/marker-unofficial.png"/>
							</div>
							<div class="col-xs-6 col-xs-offset-1">
								<strong>A cadastrar</strong>
							</div>
						</div>
					</div>
					<div id="map-canvas" class="full-height">
					</div>
				</div>
				<!-- list -->
				<div id="truck-list" class="col-xs-4 full-height">
					<button class="btn btn-danger form-control" ng-click="create()" style="position: fixed; float: left; z-index: 50; width: 30px;">+</button>
					<button class="btn btn-danger form-control" ng-click="filter = !filter" style="position: fixed; float: left; z-index: 50; width: 30px; margin-left: 30px;">F</button>
					<div ng-show="filter" class="col-xs-12">
						<div class="row">
							<div class="col-xs-1" ng-repeat="foodtype in foodtypes">
								<img src="/img/foodtypes/{{ foodtype.slug }}.png" class="img-circle img-map center-block" ng-class="foodtypes_selected.indexOf(foodtype.id) >= 0 ? 'selected' : ''" ng-click="foodtype_onclick(foodtype.id)" />
							</div>
						</div>
						<hr/>
					</div>
					<div class="row vertical-align list-row" ng-repeat="truck in city.trucks" ng-show="truck.visible" ng-class-odd="'list-row-odd'" ng-class-even="'list-row-even'" ng-click="detailed(truck.id)">
						<div class="col-xs-2">
							<img ng-src="{{truck.icon_url}}" class="img-responsive img-rounded truck-icon center-block" />
						</div>
						<div class="col-xs-4">
							<h2><strong>{{ truck.name }}</strong></h2>
							<p>{{ truck.address }}</p>
							<p><small style="color: rgba(255,255,255,0.5)">{{ truck.geoposition.latitude }} / {{ truck.geoposition.longitude }}</small></p>
						</div>
						<div class="col-xs-3 text-center">
							<div class="row">
								<div class="col-xs-2" ng-repeat="foodtype in truck.foodtypes">
									<img class="img-responsive center-block" ng-src="/img/foodtypes/{{ foodtype.slug }}.png" />
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<p><strong>Distância: 300m</strong></p>
						</div>
					</div>
				</div>
			</div>
			<!--
				<div ng-cloak ng-show="creating">
					<div id="register-truck" ng-controller="register_truck_controller">
						<h3>Mapa</h3>
						<input style="color: black;" id="pac-input" class="controls" type="text" placeholder="Search Box"/>
						<div id="register-map" style="height: 400px;"></div>
						<label>Cidade:</label><br/>
						<input type="text" ng-model="truck.city"/>
						<label>Nome:</label>
						<input type="text" ng-model="truck.name"/>

						<h3>Opcional</h3>
						<label>Tipos de comida:</label><br/>
						<select ng-model="truck.types">
						</select>
						<label>Contato:</label>
						<input type="text" ng-model="truck.contact.twitter"/>
						<input type="text" ng-model="truck.contact.facebook"/>
						<input type="text" ng-model="truck.contact.phone"/>

						<h3>Só quando for registrado oficialmente</h3>
						<label>Ícone:</label><br/>
						<label>Cardapio:</label><br/>
						<label>Localização atual:</label><br/>
						<label>Última atualização:</label>
					</div>
				</div>
			-->
		</div>
	</div>
</div>
