<link rel="stylesheet" href="css/city.css">

<div id="city-view" class="full-height" ng-controller="city_controller">
	<div id="header">
		<div id="top-padding">
		</div>
		<div id="title">
			<a ng-href="#/"><img src="img/searcheat_circle.png" /></a>
		</div>
	</div>

	<div class="row full-height no-header text-center">
		<div class="full-height col-lg-8 col-md-8 col-sm-10 col-xs-offset-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
			<div id="city-name">
				<h1 ng-cloak>FOODTRUCKS EM <strong>{{ city.name }}</strong></h1>
			</div>
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active col-xs-4">
					<a data-target="#map-tab" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
				</li>
				<li role="presentation" class="col-xs-4">
					<a data-target="#list-tab" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
				</li>
				<li role="presentation" class="col-xs-4">
					<a data-target="#envelope-tab" aria-controls="home" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
				</li>
			</ul>

			<div class="full-height tab tab-content">
				<!-- MAP TAB -->
				<div id="map-tab" class="full-height tab-pane active">
					<div id="map-canvas" class="full-height">
						<ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom" options="options" events="map.events">
						<ui-gmap-markers models="city.trucks" coords="'geoposition'" icon="'icon_obj'"></ui-gmap-markers>
						</ui-gmap-google-map>
					</div>
				</div>
				<!-- END OF MAP TAB -->

				<!-- LIST TAB -->
				<div id="list-tab" class="full-height tab-pane text-left">
					<div class="row vertical-align list-row" ng-repeat="truck in city.trucks">
						<div class="col-xs-2">
							<img ng-src="{{truck.icon_url}}" class="img-responsive img-circle" style="min-height:100px; max-width:100px;"/>
						</div>
						<div class="col-xs-4">
							<h2><strong>{{ truck.name }}</strong></h2>
						</div>
						<div class="col-xs-3">
							<p>{{ truck.geoposition.latitude }}</p>
							<p>{{ truck.geoposition.longitude }}</p>
						</div>
					</div>
				</div>
				<!-- END OF LIST TAB -->

				<div id="envelope-tab" class="full-height tab-pane">
				</div>
			</div>

		</div>
	</div>
</div>
