<link rel="stylesheet" href="css/guidance.css">

<div id="view" class="full-height" ng-controller="guidance_controller">
<div id="header">
	<!-- <div id="top-padding">
	</div> -->
	<div id="title">
		<img src="img/searcheat_circle.png" />
	</div>
</div>
<div id="search-box-container" class="row text-center">
	<div id="search-box" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-sm-offset-3">
		<h1><strong>Selecione a cidade</strong></h1>
		<hr/>
		<div class="form-group">
			<select ng-model="city" convert-to-number ng-options="city.id as city.name for city in data" class="form-control text-center">
			</select>
		</div>
		<button ng-click="search()" class="btn btn-danger form-control"><strong>Procurar</strong></button>
		<p class="new-link"><a href="#"><strong>Não achou sua cidade? Registre o primeiro foodtruck dela aqui!</strong></a></p>
		<!--<p class="help-block">* Ative seu GPS para resultados mais precisos</p>-->
	</div>
</div>
</div>
