<link rel="stylesheet" href="css/truck-form.css">

<div id="city-view" class="full-height" ng-controller="truck-form-controller">
	<div class="row full-height no-header text-center">
		<div class="full-height col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<a href="#/"><img src="/img/searcheat_horizontal.png" class="img-responsive center-block" style="width: 200px; margin-top: 10px;"/></a>
				</div>
				<div class="col-xs-12">
					<div id="subtitle">
						<h1 ng-cloak>CADASTRO DE FOODTRUCK</h1>
					</div>
				</div>
			</div>
			<div class="row full-height">
				<!-- map -->
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-7 full-height">
					<input style="color: black;" id="pac-input" class="controls" type="text" placeholder="Search Box"/>
					<div id="truck-form-map" class="full-height">
					</div>
				</div>
				<!-- list -->
				<div id="truck-form" class="col-xs-6 col-sm-6 col-md-6 col-lg-5 full-height">
					<div id="truck-scroll" class="full-height trucks">
					
	<div class="form-group">
		<label>Nome:</label>
		<input class="form-control" ng-model="truck.name">
	</div>

	<div class="row">
		<div class="col-xs-2" ng-repeat="foodtype in foodtypes">
			<img src="/img/foodtypes/{{ foodtype.slug }}.png"
			class="img-circle img-map center-block"
			ng-class="foodtypes_selected.indexOf(foodtype.id) >= 0 ? 'selected' : ''"
			ng-click="foodtype_onclick(foodtype.id)"/>
		</div>
	</div>

	<h3 class="text-center">Contato</h3>
	<div class="form-group">
		<label>Twitter:</label>
		<input class="form-control" type="text" ng-model="truck.contact.twitter"/>
	</div>

	<div class="form-group">
		<label>Facebook:</label>
		<input class="form-control" type="text" ng-model="truck.contact.facebook"/>
	</div>

	<div class="form-group">
		<label>Phone:</label>
		<input class="form-control" type="text" ng-model="truck.contact.phone"/>
	</div>

	<button type="submit" ng-click="submit()">Enviar</button>

	<h1>Só quando for registrado oficialmente</h1>
	<label>Ícone:</label><br/>
	<input type="hidden" name="icon" value="image.jpg"/>
	<label>Cardapio:</label><br/>
	<label>Localização atual:</label><br/>
	<label>Última atualização:</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
