<link rel="stylesheet" href="css/truck-form.css">

<div class="container" id="truck-form" ng-controller="truck-form-controller">
	<h1>Cadastro de Truck</h1>

	<h3 class="text-center">Localização</h3>

	<input style="color: black;" id="pac-input" class="controls" type="text" placeholder="Search Box"/>
	<div id="truck-form-map" style="width: 500px; height: 500px; margin: 0 auto;">
	</div>
	<hr/>

	<div class="form-group">
		<label>Nome:</label>
		<input class="form-control" ng-model="truck.name">
	</div>

	<h3 class="text-center">Opcional</h3>

	<div class="form-group">
		<label>Tipos de comida:</label>
		<div ng-repeat="foodtype in foodtypes">
			<img src="/img/foodtypes/{{ foodtype.slug }}.png"
			class="img-circle img-map center-block"
			ng-class="foodtypes_selected.indexOf(foodtype.id) >= 0 ? 'selected' : ''"
			ng-click="foodtype_onclick(foodtype.id)"/>
		</div>
	</div>

	<h3 class="text-center">Contato</h3>
	<div class="form-group">
		<label>Twitter:</label>
		<input class="form-control" type="text" ng-model="truck.contact.twitter"/>
	</div>

	<div class="form-group">
		<label>Facebook:</label>
		<input class="form-control" type="text" ng-model="truck.contact.facebook"/>
	</div>

	<div class="form-group">
		<label>Phone:</label>
		<input class="form-control" type="text" ng-model="truck.contact.phone"/>
	</div>

	<h1>Só quando for registrado oficialmente</h1>
	<label>Ícone:</label><br/>
	<label>Cardapio:</label><br/>
	<label>Localização atual:</label><br/>
	<label>Última atualização:</label>
</div>