/*
 * city.css
 */

#title
{
}

#title img
{
	width: 120px;
}

.angular-google-map
{
	height: 100%;
}

.angular-google-map-container
{
	width: 100%;
	height: 100%;
}

.marker-popup
{
	color: black;
	font-size: 0.8em;
	cursor: pointer;
}

.marker-popup img
{
	width: 64px;
	height: 64px;
}

#tab-content
{
	min-width: 410px;
	max-width: 910px;
	text-align: center;
	margin: 0 auto;
}

#city-name
{
	margin-top: 15px;
	margin-bottom: 20px;
	background: rgba(0, 0, 0, 0.4);
}

.nav-tabs > li > a
{
	color: #FFF;
	font-size: 2.2em;
	background-color: rgba(255, 255, 255, 0.05);
	border-color: rgba(255, 255, 255, 0.05);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
	background-color: #FFF;
	color: #D43F3A;
	font-weight: bold;
}
.nav-tabs > li > a:hover
{
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.1);
	color: #D9534F;
}

/* eh soh isso mesmo pra funcionar a scrollbar? lol */
#list-tab
{
	overflow: auto;
}

.list-row
{
	padding: 10px;
	cursor: pointer;
}

.list-row-odd
{
}

.list-row-even
{
	background-color: rgba(0, 0, 0, 0.2);
}


.list-row-odd:hover
{
	background-color: rgba(0, 0, 0, 0.4);
}

.list-row-even:hover
{
	background-color: rgba(0, 0, 0, 0.5);
}

.truck-icon
{
	width: 100px;
	height: 100px;
}

.truck-icon-detailed
{
	width: 160px;
	height: 160px;
}

#detailed-name
{
	padding: 10px;
}

#legend
{
	color: black;
}

#legend h3
{
	color: black;
}

.controls
{
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

.img-map
{
	width: 35px;
	opacity: 0.4;
}

.img-map.selected
{
	background-color: rgba(212, 63, 58, 0.3);
	opacity: 1;
}

#legend
{
	width: 20%;
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 1.2em;
}

#legend .row
{
	padding: 6px;
}

#legend img
{
	width: 32px;
}
