/*
 * city.css
 */

#top-padding
{
	background-color: red;
	height: 250px;
	min-width: 410px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#city-view
{
	height: 100%;
}

#content
{
	height: 100%;
}

#tab-menu
{
	height: 100%;
}

#title.small
{
	width: 100px;
}

#title.small img
{
	width: 120px;
}

.angular-google-map-container
{
	width: 100%;
	height: 500px;
}