@font-face
{
	font-family: 'brain-flower';
	src: url('/fonts/brain_flower_euro.ttf');
}

html, body
{
	margin: 0;
	height: 100%;

	background-repeat: no-repeat;
	background-image: url('/img/street-food.jpg');
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, label
{
	font-family: 'brain-flower';
	font-size: 2.2em;
}

.container-fluid
{
	padding: 0px;
}

#view
{
	height: 100%;
}

#title.small
{
	width: 100px;
}

#title img
{
	width: 250px;
}

#title.small img
{
	width: 120px;
}

#city-view
{
	height: 100%;
}

#guidance-view
{
	height: 100%;
}

#content
{
	height: 100%;
}

#tab-menu
{
	height: 100%;
}