/* overrides twt-bootstrap */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding: 0 !important;
    position: relative;
}

.row {
   margin-left: 0;
   margin-right: 0;
}

/***/

@font-face
{
	font-family: 'brain-flower';
	src: url('/fonts/brain_flower_euro.ttf');
}

html, body
{
	margin: 0;
	height: 100%;
}

body
{
	background-repeat: no-repeat;
	background-image: url('/img/street-food.jpg');
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, label
{
	font-family: 'brain-flower';
	font-size: 2.2em;
}

.container-fluid
{
	padding: 0px;
}

#view
{
	height: 100%;
}

#header
{
	text-align: center;
	height: 250px;
}

#title
{
	z-index: 1000;
	position: relative;
	top: 135px;
}

#title.small
{
	width: 100px;
}

#title img
{
	width: 250px;
}

#title.small img
{
	width: 120px;
}

#city-view
{
	height: 100%;
}

#guidance-view
{
	height: 100%;
	max-width: 910px;
	min-width: 410px;
	margin: 0 auto;
}

#content
{
	height: 100%;
}

#tab-menu
{
	height: 100%;
}

#search-box
{
	background: rgba(0, 0, 0, 0.4);
	color: white;
}