/*
 * guidance.css
 */

/* de autoria do max */

#title img
{
	width: 280px;
}

#search-box
{
	padding: 20px !important;
	background: rgba(0, 0, 0, 0.4);
	color: white;
}

#search-box-container
{
	margin-top: 240px;
}

.new-link
{
	margin-top: 10px;
}
