@font-face
{
	font-family: 'brain-flower';
	src: url('/fonts/brain_flower_euro.ttf');
}

html, body
{
	margin: 0;
	height: 100%;
}

body
{
	background-repeat: no-repeat;
	background-image: url('/img/street-food.jpg');
	background-attachment: fixed;
	color: #FFF;
}

h1, h2, h3, h4, h5, h6, label
{
	font-family: 'brain-flower';
	color: #FFF;
}

h1 { font-size: 3.8em; }
h2 { font-size: 3em; }
h3 { font-size: 2.6em; }
h4 { font-size: 2.4em; }
h5 { font-size: 2.2em; }
h6 { font-size: 2em; }

p
{
	font-size: 1.3em;
}
								

p span
{
	font-size: 2em;
}

ul 
{
	margin: 0;
}

a, a:hover, a:visited, a:active
{
	color: #FFF;
}

.row
{
   margin-left: 0;
   margin-right: 0;
}

.container-fluid
{
	padding: 0px;
}

.help-block
{
	color: #FFF;
}

select
{
	font-weight: bold;
}

option
{
	font-weight: bold;
}

#header
{
	text-align: center;
	height: 100px;
}


#title
{
	z-index: 1000;
	position: relative;
	padding-top: 30px;
}

#view
{
	/*max-width: 910px;
	min-width: 410px;
	margin: 0 auto;*/
}

.full-height
{
	height: 100%;
	/* overflow-y: hidden; */
}

.full-height.no-header
{
	height: calc(100% - 150px);
	/*overflow-y: hidden;*/
}

.full-height.trucks
{
	height: calc(100% - 42px);
}

.vertical-align
{
	display: flex;
	align-items: center;
}
