/* Resets */

html {
    font-size: 100.01% !important;
}

body {
    font-size: 10px !important;
}

html, body, form {
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 1em 0;
}

a {
    text-decoration: none !important;
    outline: none;
}

    a:link img {
        border: none;
    }

table {
    border-collapse: separate;
    border-spacing: 0;
}

video {
    width: 100% !important;
    height: auto !important;
}

iframe {
    width: 100% !important;
}

/* overrides twt-bootstrap */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding: 0 !important;
    position: relative;
}

/* Font & styling */

.font08 {
    font-size: 0.8em;
}

.font09 {
    font-size: 0.9em;
}

.font10 {
    font-size: 1.0em;
}

.font11 {
    font-size: 1.1em;
}

.font12 {
    font-size: 1.2em;
}

.font13 {
    font-size: 1.3em;
}

.font14 {
    font-size: 1.4em;
}

.font15 {
    font-size: 1.5em;
}

.font16 {
    font-size: 1.6em;
}

.font17 {
    font-size: 1.7em;
}

.font18 {
    font-size: 1.8em;
}

.font19 {
    font-size: 1.9em;
}

.font20 {
    font-size: 2.0em;
}

.font21 {
    font-size: 2.1em;
}

.font22 {
    font-size: 2.2em;
}

.font23 {
    font-size: 2.3em;
}

.font24 {
    font-size: 2.4em;
}

.font25 {
    font-size: 2.5em;
}

.font26 {
    font-size: 2.6em;
}

.font27 {
    font-size: 2.7em;
}

.font28 {
    font-size: 2.8em;
}

.font29 {
    font-size: 2.9em;
}

.font30 {
    font-size: 3.0em;
}

.font31 {
    font-size: 3.1em;
}

.font32 {
    font-size: 3.2em;
}

.font33 {
    font-size: 3.3em;
}

.font34 {
    font-size: 3.4em;
}

.font35 {
    font-size: 3.5em;
}

.font36 {
    font-size: 3.6em;
}

.font37 {
    font-size: 3.7em;
}

.font38 {
    font-size: 3.8em;
}

.font39 {
    font-size: 3.9em;
}

.font40 {
    font-size: 4.0em;
}

.font41 {
    font-size: 4.1em;
}

.font42 {
    font-size: 4.2em;
}

.font43 {
    font-size: 4.3em;
}

.font44 {
    font-size: 4.4em;
}

.font45 {
    font-size: 4.5em;
}

.font46 {
    font-size: 4.6em;
}

.font47 {
    font-size: 4.7em;
}

.font48 {
    font-size: 4.8em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline !important;
}
